*{
    box-sizing:border-box;
}

body{
    font-family:Poppins,sans-serif;
    background:#f6f1ec;
}

.hero{
    width:100%;
    height:100vh;
    background:#f6f1ec;
    position:relative;
    overflow:hidden;
    
}

/* Background Image */

.bg-image{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    object-fit:cover;
    opacity:0.8;     
    z-index:0;
}

/* Header */

header{
    width:90%;
    margin:auto;
    padding:30px 0;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:relative;
    z-index:2;
}

.logo{
    font-size:60px;
    font-family:cursive;
}

nav{
    display:flex;
    gap:60px;
}

nav a{
    text-decoration:none;
    color:#222;
    letter-spacing:4px;
    font-size:17px;
}

nav .active{
    color:#ba7d56;
}

.icons{
    display:flex;
    align-items:center;
    gap:22px;
}

.icons i{
    font-size:20px;
}

.cart{
    position:relative;
}

/* Hero Text */

.hero-content{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align:center;
    font-family:"Cormorant Garamond",serif;
    z-index:2;
}

.hero-content h1{
    font-size:110px;
    font-family:Georgia, serif;
    font-weight:400;
    color:#222;
}

.hero-content p{
    margin-top:20px;
    color:#c58d6a;
    font-size:22px;
    font-style:italic;
}
/*  WHAT WE DO */

.what-we-do{

    width:100%;

    background:#f5f5f5;

    padding:120px 0;

}

.container{

    width:90%;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:80px;

}

/* Left Side */

.left-content{

    width:50%;

}

.left-content h2{

    font-size:72px;

    font-family:'Cormorant Garamond',serif;

    font-weight:400;

    color:#222;

    margin-bottom:40px;

}

.left-content p{

    font-size:22px;

    line-height:1.9;

    color:#7c7c7c;

    margin-bottom:40px;

    font-family:'Poppins',sans-serif;

}

.signature{

    width:260px;

    margin-top:30px;

}

/* Right Side */

.right-content{

    width:50%;

}

.right-content img{

    width:100%;

    display:block;

}
.services{

    width:100%;
    padding:100px 8%;
    background:#f7f7f7;

    display:flex;
    gap:30px;

}

.service-card{

    width:25%;
    text-align:center;

}

.service-img{

    width:210px;
    height:210px;
    background:#efe8e1;
    border-radius:50%;
    display:flex;
    margin:auto;
    margin-bottom:35px;

}

.service-img img{

    width:100%;

}

.service-card h2{

    font-family:"Cormorant Garamond",serif;
    font-size:34px;
    font-weight:500;
    color:#222;
    margin-bottom:25px;

}

.service-card p{
    font-family:Poppins,sans-serif;
    color:#7a7a7a;
    line-height:1;
    font-size:20px;

}
.newsletter{
    width:100%;
    height:500px;
    position:relative;
}

.newsletter-img{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
}

.overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.45);
}

.newsletter-content{

    position:absolute;
    top:20%;
    left:23%;
    text-align:center;
    width:900px;
    z-index:10;

}

.newsletter-content h2{

    font-family:"Cormorant Garamond",serif;
    color:#fff;
    font-size:70px;
    font-weight:400;
    margin-bottom:45px;

}

/*================ FORM ================*/

.newsletter-form{

    display:flex;
    justify-content:center;

}

.newsletter-form input{

    width:600px;
    height:80px;
    border:1px solid rgba(255,255,255,.6);
    background:transparent;
    padding-left:35px;
    color:white;
    font-size:22px;
    outline:none;

}

.newsletter-form input::placeholder{

    color:white;

}

.newsletter-form button{

    width:300px;
    height:80px;
    border:none;
    background:white;
    color:#222;
    font-size:18px;
    letter-spacing:5px;
    font-weight:600;
    cursor:pointer;

}

.newsletter-form button:hover{

    background:#b9825b;

    color:white;

}
footer{

    background:#efe8e0;
    padding:100px 8% 40px;

}

.footer-container{
    display:flex;
    justify-content:space-between;
    margin-bottom:80px;

}

.footer-box{
    display:flex;
    flex-direction:column;

}

.footer-box h4{
    margin-bottom:30px;
    letter-spacing:4px;
    font-size:18px;

}

.footer-box a{
    text-decoration:none;
    color:#777;
    margin-bottom:18px;
    font-size:20px;

}

.footer-box a:hover{

    color:#b77d55;

}

footer hr{
    border:none;
    border-top:1px solid #d8cec4;

}

.footer-bottom{
    margin-top:30px;
    display:flex;
    justify-content:space-between;
    align-items:center;

}

.footer-bottom p{

    color:#777;

}


.links{

    display:flex;
    gap:50px;

}

.links a{
    text-decoration:none;
    color:#777;
    letter-spacing:4px;
    font-size:14px;

}
aside{
    position: fixed;
    bottom: 70px;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    z-index: 200;
    
}
.btn1{
    padding: 20px 40px;
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    border: none;
}
.btn2{
    padding:20px 35px;
     cursor: pointer;
     font-size: 18.9px;
     background-color: lightcoral;
     border: none;
}